@import '../../style/global.module.scss';

.List {
  &:global(.ant-list) {
    margin-top: 20px;
    :global(.ant-list-header) {
      font-weight: $font-bd;
      color: $black;
    }
  }
  :global(.ant-pagination) {
    flex-direction: row;
  }
  :global(.ant-list-item) {
    // align-items: flex-end;
  }
}
.ListContent {
  word-wrap: break-word;
  word-break: break-all;
}
.iconText {
  ul {
    flex-direction: row;

    // margin-left: 0;
    li {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}
