@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
/* Color */
$bg: #f5f7fa;
$white: #ffffff;
$black: #393939;
$black_2: #515253;
$disable: #a7a7a7;
$natual: #e6e8f2;
$light-primary: rgba(28, 191, 185, 0.17);
$light-primary-hover: rgba(28, 191, 186, 0.13);
$primary:#1CBFB9;

/* Fonts */
$letter-sp:0.0875rem;

$font-sm: 0.875rem;

$font-rg:400;
$font-md:500;
$font-bold: 700;