@import '../../style/global.module.scss';

.Wrapper {
  display: flex;
  margin: 0 0 10px;
}
:global(.ant-comment-nested) {
  .Wrapper {
    padding-left: 20px;
    // background-color: #fff;
  }
}

.TextArea {
  &:global(.ant-input) {
    resize: none;
    border: {
      left: none;
      right: none;
      top: none;
      bottom: 1px solid $natual2;
      radius: 0;
    }
    // background: none;

    &:hover {
      border-bottom: 1px solid $black;
    }

    &:focus {
      box-shadow: none;
      border-bottom: 1px solid $black;
    }

    // &:focus {
    //   border-bottom: 1px solid #000;
    // }
    // &:hover {
    //   border-bottom: 1px solid #000;
    // }
  }
}
